/* Custom CSS Sinci
****************************************************/


/* roboto-300 - latin */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v19-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v19-latin-300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto-v19-latin-300.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/roboto-v19-latin-300.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto-v19-latin-300.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto-v19-latin-300.svg#Roboto") format("svg");
    /* Legacy iOS */
}


/* roboto-regular - latin */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v19-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v19-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/roboto-v19-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/roboto-v19-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/roboto-v19-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/roboto-v19-latin-regular.svg#Roboto") format("svg");
    /* Legacy iOS */
}

:root {
    --link-color: #D63B37;
    --secondary-color: #dbdbdb;
    --body-fonts: "Roboto", Helvetica, Arial, sans-serif;
    --font-weight: 300;
    --background-default: #f5f5f5;
    --background-secondary: #313232;
}


/* LAYOUT
****************************************************/

html {
    font-family: var(--body-fonts);
    font-weight: var(--font-weight);
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6,
.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    font-family: var(--body-fonts);
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    margin: 0 10px 0 calc(10px - 4px);
}

a,
.uk-link,
.uk-article-meta a,
.uk-subnav-pill>*>:first-child {
    color: var(--link-color);
}

.uk-subnav-pill>*>:first-child {
    text-transform: none;
}

ul.uk-subnav.uk-subnav-pill>* {
    padding-left: 0;
    margin-left: 0;
}

ul.uk-subnav.uk-subnav-pill {
    margin-left: 0;
}

.uk-card-default {
    box-shadow: none;
}

.uk-background-secondary,
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: var(--background-secondary);
}

.uk-text-muted {
    color: var(--secondary-color) !important;
}

.uk-grid {
    margin-left: -20px;
}

.uk-grid>* {
    padding-left: 20px;
}

.uk-label-danger {
    background-color: var(--link-color);
}

.form-select {
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}


/* HEADER
****************************************************/

.uk-search-input {
    text-indent: 25px;
}

.uk-search-default {
    width: auto;
}

.jm-toolbar.uk-clearfix {
    padding: 5px 0;
}

.jm-toolbar.uk-clearfix p {
    margin: 0;
}

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    min-height: 60px;
}

a.uk-navbar-item.uk-logo {
    min-width: 200px;
    min-height: 31px;
}

.uk-navbar-nav>li>a {
    color: #ffffff;
    text-transform: none;
}

.uk-navbar-nav img {
    width: 20px;
    height: 20px;
}

.uk-navbar-nav>li.uk-active>a,
.uk-navbar-nav>li>a:hover,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li>.uk-open>a,
.uk-navbar-nav>li>a[aria-expanded=true],
li.nav-item.active.deeper.parent {
    background: var(--link-color);
    color: #ffffff;
}

[class*=uk-navbar-dropdown-bottom] {
    margin-top: 0;
}

.uk-navbar-dropdown {
    background: var(--link-color);
    box-shadow: none;
    padding: 10px 15px;
}

.uk-navbar-dropdown-nav>li>a {
    color: #fff;
}

.uk-navbar-dropdown-nav>li>a:hover,
.uk-navbar-dropdown-nav>li>a:focus {
    color: #ccc;
}


/* MAIN
****************************************************/

.uk-slideshow .uk-overlay {
    padding: 10px;
}

.uk-slideshow .uk-overlay h5 {
    margin: 0;
    font-weight: 300;
}

a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav,
a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav {
    background: rgba(34, 34, 34, 0.60);
    color: #fff;
    padding: 10px 15px;
}

.page-item.active .page-link {
    background-color: #ccc;
    color: #fff;
    z-index: 3;
}

.icon-angle-left:before {
    content: "<";
}

.icon-angle-right:before {
    content: ">";
}

.icon-angle-double-left:before {
    content: "<<";
}

.icon-angle-double-right:before {
    content: ">>";
}


/* Custom Field Image */

ul.fields-container {
    padding-left: 0;
}

ul.fields-container li {
    list-style: none;
}

li.imageg {
    display: inline-block;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
}

span.field-label {
    font-weight: 400;
}

form#contact-form .control-group {
    margin-bottom: 10px;
}


/* SIDEBAR
****************************************************/

.sidebar-right .moduletable:first-child {
    margin-top: 0;
}

.sidebar-right .moduletable {
    background: var(--background-default);
    padding: 20px;
    margin: 20px 0;
}


/* FOOTER
****************************************************/

.container-footer .uk-h3,
.container-footer h3 {
    color: var(--secondary-color);
}

.footer-menu .uk-navbar-nav>li>a {
    min-height: auto;
    text-transform: none;
    color: var(--secondary-color);
}

.footer-menu .uk-navbar-nav>li>a:hover,
.footer-menu .uk-navbar-nav>li>a:focus,
.footer-menu .uk-navbar-nav>li.uk-active>a {
    color: #fff;
    background: transparent;
}


/* MOBILE DEVICE
****************** **********************************/

.uk-offcanvas-bar .nav-item:first-child,
.uk-offcanvas-bar .uk-navbar-dropdown .nav-item {
    border-top: none;
}

.uk-offcanvas-bar .nav-item {
    border-top: 1px solid rgba(232, 232, 232, 0.20);
}

.uk-navbar-toggle {
    color: #fff;
}

.uk-offcanvas-bar .uk-navbar-nav>li.uk-active>a,
.uk-offcanvas-bar .uk-navbar-nav>li>a:hover,
.uk-offcanvas-bar .uk-navbar-nav>li>a:focus,
.uk-offcanvas-bar .uk-navbar-nav>li.uk-active>a,
.uk-offcanvas-bar .uk-navbar-dropdown,
.uk-offcanvas-bar li.nav-item.active.deeper.parent,
.uk-offcanvas-bar .uk-navbar-dropdown-nav>li.uk-active>a {
    background: transparent;
    color: #ccc;
}

.uk-offcanvas-bar .uk-navbar-nav>li>a {
    color: #fff;
}

@media (max-width: 480px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width:768px) {
    .blog-items {
        grid-gap: 1.25em;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        margin: 0 0 1.25em;
    }
    .blog-items.columns-2 {
        grid-template-columns: 1fr 1fr;
    }
    .blog-items.columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blog-items.columns-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .uk-navbar-dropdown .uk-navbar-dropdown {
        display: block;
        position: inherit;
        background: transparent;
        padding: 5px 10px;
    }
}

@media (max-width: 959px) {
    .uk-navbar-nav,
    .uk-navbar-nav li>a {
        display: block;
    }
    .uk-navbar-nav li>a {
        min-height: 0;
        padding: 8px 0;
    }
    .uk-navbar-dropdown {
        display: block;
        position: relative;
        z-index: 0;
        width: auto;
        padding: 0 15px;
        background: transparent;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {}